TOKEN         = bot_token_goes_here
DISCORD_CLIENT_ID = bot_app_id_goes_here

# Create an Application: https://discord.com/developers/applications
# General Information
#  Icon, Name
# OAuth2
#  Client ID
#  Client Secret
# Bot
#  TOKEN = TOKEN
#  DISCORD_CLIENT_ID = DISCORD_CLIENT_ID
