TOKEN         = bot_token_goes_here
TOKEN_DEV     = dev_bot_token_goes_here
TEST_GUILD_ID = test_guild_id_goes_here
DOI_GUILD_ID  = doi_guild_id_goes_here
CLIENT_ID     = client_guild_id_goes_here

# Create an Application: https://discord.com/developers/applications
# General Information
#  Icon, Name
# OAuth2
#  Client ID
#  Client Secret
# Bot
#  TOKEN = TOKEN
